// About-------------------------------------------------------------

#about {
    padding-top: 15vh;
    
    .aboutTitle {
        display: flex;
        justify-content: center;
        text-shadow: 2px 2px black;
    }
        
    .aboutText {
        // padding-top: 5%;
        // display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }  
}