//experience----------------------------------------------------------

#experience {
    margin: 0px auto;

    @include respond(breakpoint-md) {
        padding-top: 100px;
    }

    .projectsTitle {
        display: flex;
        justify-content: center;
        text-shadow: 2px 2px black;
    }

    /* Section styling */
    .experience-section {
        position: relative;
        left: 10%;
        background-color: #1e293b; 
        padding: 2rem;
        border-radius: 10px; /* Smooth corners for the section */
    }

    /* Title styling */
    .experience-title {
        font-size: 2.2rem;
        font-weight: bold;
        
        color: #343a40; /* Dark text color */
        text-transform: uppercase; /* Capitalized text */
    }

    /* Ensure all cards in the grid have the same height */
    .experience-grid {
        display: flex;
        flex-wrap: wrap; /* Allow wrapping for smaller screens */
        gap: 1rem; /* Consistent spacing between cards */
        position: relative;
        // right: 5%;
        @include respond(breakpoint-sm) {
            left: 5%;
        }
    
    }

    .experience-card {
        display: flex;
        flex-direction: column; /* Ensures the content inside the card is aligned vertically */
        justify-content: space-between; /* Evenly distribute content */
        height: 100%; /* Allow cards to stretch to the full height of the container */
        min-height: 200px; /* Set a minimum height for all cards */
        background-color: #1e293b;
        transition: transform 0.2s ease;
    }

    /* Optional hover effect */
    .experience-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    /* Card title styling */
    .experience-card-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: #9DEBE3; /* Bootstrap blue */
        
    }

    .experience-company {
        font-weight: normal;
        color: #f8fafc; /* Muted gray */
    }

    /* Subtitle styling */
    .experience-subtitle {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        color: #f8fafc !important;
        
    }

    /* Details list styling */
    .experience-details {
        padding-left: 20px; /* Add left padding for bullet points */
    }

    .experience-detail-item {
        font-size: 0.95rem;
        line-height: 1.5;
        color: #f8fafc; /* Dark gray for readability */
        margin: 10px;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .experience-title {
            font-size: 1.8rem;
        }

        .experience-card-title {
            font-size: 1.1rem;
        }

        .experience-detail-item {
            font-size: 0.85rem;
        }
    }
}
