// Hero-------------------------------------------------------------

#hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;

    @include respond(breakpoint-md) {
        top: 50%;
    }
}

.hero-subtitle {
    font-size: 1.1rem;

    @include respond(breakpoint-md) {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    @include respond(breakpoint-lg) {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    @include respond(breakpoint-xl) {
        margin-top: 20px;
        font-size: 1.6rem;
    }
}

.resume-button-row {
    position: absolute; 
    top: 67%; 
    text-align: center;
    margin-right: 2%;
    margin-top: 1px;

    @media (max-width: 360px) {
        top: 66%;
    }

    @include respond(breakpoint-md) {
        top: 65%;
    }

    @include respond(breakpoint-lg) {
        top: 64%;
    }

    @include respond(breakpoint-xl) {
        top: 65%;
    }

    @include respond(breakpoint-xxl) {
        top: 68%;
    }
}

.resume-button {
    width: 9rem;
    padding: 15px 15px;
    position: relative;
    border: none;
    background-color: transparent !important;
    font-size: 1.2rem;
    border-radius: 4px;
    font-family: Montserrat;
    color: white;
    margin: 0 auto;
    border: 2px solid transparent;
    box-sizing: border-box;
    
    &:hover {
        background-color: transparent !important;
        border: 2px solid #9DEBE3;     
        color: #9DEBE3;                 
    }

    &:active {
        background-color: transparent !important;
        outline: none;
        box-shadow: none;
        border: 2px solid #9DEBE3;     
        color: #9DEBE3;  
    }

    &:focus {
        background-color: transparent !important;
        outline: none;
        box-shadow: none;
        border: 2px solid #9DEBE3;     
        color: #9DEBE3;  
    }

    @include respond(breakpoint-md) {
        padding: 30px 30px;
        font-size: 1.6rem;
        width: 15rem;
    }
}

.scroll-button-row {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    justify-content: center;
    padding: 0;

    @include respond(breakpoint-md) {
        bottom: 1%;
    }
}

.scroll-button {
    border: none;
    background-color: transparent !important; 
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 0;
    padding: 0;

    &:hover {
        transform: translateY(5px);
        background-color: transparent !important; 
    }

    &:active {
        background-color: transparent !important; 
        outline: none; 
    }

    &:focus {
        background-color: transparent !important; 
        outline: none; 
        box-shadow: none; 
    }
}
