// Tech-------------------------------------------------------------

#tech {
    
    .techTitle {
        display: flex;
        justify-content: center;
        text-shadow: 2px 2px black;
    }

    .techDescription {
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }

    .techGrid {
        gap: 1rem;
        margin: 0 auto;
        position: relative;
        left: 5%;
        
    }

    .techCard {
        display: flex; 
        align-items: center; 
        justify-content: flex-start;
        background-color: #1e293b;
        border-radius: 8px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        height: auto;
        width: 100%;
    }

    .techCard:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .techImage {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }

    .techName {
        font-size: 1rem;
        font-weight: bold;
        color: #f8fafc;
        margin: 0;
    }
    
    @media (max-width: 768px) {
        .techTitle {
            font-size: 1.8rem;
        }

        .techDescription {
            font-size: 0.9rem;
        }

        .techImage {
            width: 30px;
            height: 30px;
        }

        .techName {
            font-size: 0.8rem;
        }
    }
}
